src/main/mule/multi-poly-sapi1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="70ce6b5d-edcd-4d88-9406-b1bf97736ea0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="multi-poly-sapi1Flow" doc:id="1ce5d22f-f333-4fe1-9fdf-f209da9011b4" >
		<http:listener doc:name="Listener" doc:id="ea29ae29-228d-496b-9577-13478165881d" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="edfba601-d587-435d-bcf2-abfb95013cbf" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="4de136b9-7644-4fbc-ac1e-16a4131ca8f1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
flatten(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
